#contenedorProductos {
  padding-bottom: 0; // si tenías mucho padding, esto ayuda
}

.paginator {
  margin-top: 8px !important;   // pegadito a la grilla
  margin-bottom: 16px;          // separa un poco del footer
}