<section class="insta-section">
  <div class="insta-header">
    <h2 class="section-title">¡Seguinos en Instagram!</h2>
    <a
      class="insta-username"
      href="https://www.instagram.com/guillerme.guillerme.589"
      target="_blank"
      rel="noopener noreferrer"
    >
      @guillerme.guillerme.589
    </a>
  </div>

  <div class="insta-widget-wrapper">
    <div class="insta-widget-ratio">
      <iframe
        class="insta-iframe"
        src="https://snapwidget.com/embed/tu-widget-id-aqui"
        title="Instagram feed"
        frameborder="0"
        scrolling="no"
        allowtransparency="true"
      ></iframe>
    </div>
  </div>
</section>